{# EXTRACT BLOCK VALUES #}
{% set comments %}{% block comments %}{% endblock %}{% endset %}
{% set name %}{% block name %}{% endblock %}{% endset %}
{% set parameters %}{% block parameters %}{% endblock %}{% endset %}
{% set data_type %}{% block data_type %}{% endblock %}{% endset %}
{% set select %}{% block select %}{% endblock %}{% endset -%}

{# COMMENTS #}
{% if comments %}
{{ comments }}
{% endif -%}

{# SET ANSI NULLS #}
{% if ansi_nulls %}SET ANSI_NULLS ON;
GO

{% endif -%}

{# CREATE FUNCTION #}
CREATE FUNCTION {{ name|trim }}{% if parameters %} (
{{ parameters }}
){% endif %} RETURNS {{ data_type|default('TABLE', True)|trim }} AS
RETURN

	{{ select|trim }}

GO