{# EXTRACT BLOCK VALUES #}
{% set comments %}{% block comments %}{% endblock %}{% endset -%}
{% set name %}{% block name %}{% endblock %}{% endset %}
{% set parameters %}{% block parameters %}{% endblock %}{% endset %}
{% set data_type %}{% block data_type %}{% endblock %}{% endset %}
{% set logic %}{% block logic %}{% endblock %}{% endset -%}

-- **SCALAR FUNCTION DEBUGGING**
-- {{ name|trim }}

{# COMMENTS & MODIFIERS #}
{% include "jst/mssql/_controls.sql.jinja" -%}

{# DECLARE PARAMETERS #}
{% if parameters -%}
-- PARAMETERS =================================================================
DECLARE
	{% for param in parameters.split(",") %}
	{{ param.split("=")|first|trim }} = {{ param|columntovalue(presets) }}{%- if loop.last %};{% else %},{% endif %}

	{% endfor %}
{% endif %}


-- LOGIC ======================================================================
{% set logic_trimmed %}{{ logic|trim }}{% endset %}
	{%+ for line in logic_trimmed.split("\n") %}
		{% if loop.last %}{{ line|replace("RETURN", "SELECT") }}{% else %}{{ line }}{% endif %}

	{% endfor %}

GO