{# EXTRACT BLOCK VALUES #}
{% set name %}{% block name %}{% endblock %}{% endset %}
{% set parameters %}{% block parameters %}{% endblock %}{% endset %}
{% set data_type %}{% block data_type %}{% endblock %}{% endset %}
{% set logic %}{% block logic %}{% endblock %}{% endset -%}

-- **SCALAR FUNCTION DEBUGGING**
-- {{ name|trim }}

{# COMMENTS & MODIFIERS #}
{% include "jst/mssql/_controls.sql.jinja" -%}

{# DECLARE PARAMETERS #}
{% if parameters -%}
-- PARAMETERS =================================================================
DECLARE
	{% for param in parameters.split(",") %}
	{% if "=" in param %}
	{{ param|trim }}{%- if loop.last %};{% else %},{% endif %}

	{% else %}
	{{ param|trim }} = {{ param|columntovalue }}{%- if loop.last %};{% else %},{% endif %}

	{% endif %}
	{% endfor %}
{% endif %}


-- LOGIC ======================================================================
{% set logic_trimmed %}{{ logic|trim }}{% endset %}
	{%+ for line in logic_trimmed.split("\n") %}
		{% if loop.last %}{{ line|replace("RETURN", "SELECT") }}{% else %}{{ line }}{% endif %}

	{% endfor %}

GO