{# EXTRACT BLOCK VALUES #}
{% set comments %}{% block comments %}{% endblock %}{% endset -%}
{% set name %}{% block name %}{% endblock %}{% endset %}
{% set parameters %}{% block parameters %}{% endblock %}{% endset %}
{% set data_type %}{% block data_type %}{% endblock %}{% endset %}
{% set logic %}{% block logic %}{% endblock %}{% endset -%}

-- **TABLE-VALUED FUNCTION DEBUGGING**
-- {{ name|trim }}

{# COMMENTS & MODIFIERS #}
{% include "jst/mssql/_controls.sql.jinja" -%}

{# DECLARE PARAMETERS #}
{% if parameters -%}
-- PARAMETERS =================================================================
DECLARE
	{% for param in parameters.split(",") %}
	{{ param.split("=")|first|trim }} = {{ param|columntovalue(presets) }}{%- if loop.last %};{% else %},{% endif %}

	{% endfor %}
{% endif %}

{% if data_type and "@" in data_type -%}
-- RETURN TABLE DEFINITION ====================================================
DECLARE {{ data_type|trim }};
{% endif %}

-- LOGIC ======================================================================
	{{ logic|trim }}

GO