{# EXTRACT BLOCK VALUES #}
{% set comments %}{% block comments %}{% endblock %}{% endset -%}

{# COMMENTS #}
{% if comments %}
{{ comments }}
{% endif -%}

{# SET ANSI NULLS #}
{% if ansi_nulls %}SET ANSI_NULLS ON;
GO

{% endif -%}