{# EXTRACT BLOCK VALUES #}
{% set comments %}{% block comments %}{% endblock %}{% endset -%}
{% set name %}{% block name %}{% endblock %}{% endset %}
{% set parameters %}{% block parameters %}{% endblock %}{% endset %}
{% set data_type %}{% block data_type %}{% endblock %}{% endset %}
{% set logic %}{% block logic %}{% endblock %}{% endset -%}

{# COMMENTS & MODIFIERS #}
{% include "jst/mssql/_controls.sql.jinja" -%}

{# CREATE FUNCTION #}
ALTER FUNCTION {{ name|trim }} (
{% if parameters %}
{{ parameters }}
{%- endif %})
RETURNS {{ data_type|trim }} AS
BEGIN

	{{ logic|trim }}

END;
GO