{# EXTRACT BLOCK VALUES #}
{% set comments %}{% block comments %}{% endblock %}{% endset -%}
{% set name %}{% block name %}{% endblock %}{% endset %}
{% set select %}{% block select %}{% endblock %}{% endset -%}

{# COMMENTS & MODIFIERS #}
{% include "jst/mssql/_controls.sql.jinja" -%}

ALTER VIEW {{ name|trim }} AS
	{{ select|trim }}

GO