{# EXTRACT BLOCK VALUES #}
{% set comments %}{% block comments %}{% endblock %}{% endset %}
{% set name %}{% block name %}{% endblock %}{% endset %}
{% set columns %}{% block columns %}{% endblock %}{% endset -%}

{# COMMENTS #}
{% if comments %}
{{ comments }}
{% endif -%}

{# DROP TABLE IF EXISTS #}
IF OBJECT_ID('{{ name|trim }}', 'U') IS NOT NULL
	DROP TABLE {{ name|trim }};

{# CREATE TABLE #}
CREATE TABLE {{ name|trim }} (
{{ columns }});